
<!-- Sidebar -->

<aside class="sidebar">

    <!-- Logo -->
    <div class="logo">
        <i class="bi bi-people-fill"></i>
        <span>CrewConnect</span>
    </div>


    <!-- Navigation -->
    <nav class="sidebar-nav">

        <!-- Dashboard -->
        <a href="{% url 'dashboard' %}" class="nav-item active">
            <i class="bi bi-grid-1x2-fill"></i>
            <span>Dashboard</span>
        </a>


       {% if request.user.is_staff %}

<!-- Employees -->
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="bi bi-people"></i>
        <span>Employees</span>
        <i class="bi bi-chevron-down ms-auto"></i>
    </a>

    <ul class="submenu">
        <li>
            <a href="{% url 'employee_create' %}">
                <i class="bi bi-person-plus"></i>
                Add Employee
            </a>
        </li>

        <li>
            <a href="{% url 'employee_list' %}">
                <i class="bi bi-people"></i>
                View Employees
            </a>
        </li>
    </ul>
</li>

{% endif %}





        <!-- Leave Approval -->
        <a href="{% url 'leave_approve' %}" class="nav-item">
            <i class="bi bi-calendar-check"></i>
            <span>Leave Approval</span>
        </a>

{% comment %}
        <!-- Payroll -->
        <a href="#" class="nav-item">
            <i class="bi bi-cash-stack"></i>
            <span>Payroll</span>
        </a>


        <!-- Reports -->
        <a href="#" class="nav-item">
            <i class="bi bi-bar-chart"></i>
            <span>Reports</span>
        </a>

{% endcomment %}
        <!-- Departments -->
        <a href="{% url 'departments' %}" class="nav-item">
            <i class="bi bi-building"></i>
            <span>Departments</span>
        </a>


        <!-- Designations -->
        <a href="{% url 'designations' %}" class="nav-item">
            <i class="bi bi-briefcase"></i>
            <span>Designations</span>
        </a>

{% comment %}
        <!-- Settings -->
        <a href="#" class="nav-item">
            <i class="bi bi-gear"></i>
            <span>Settings</span>
        </a>

    </nav>

{% endcomment %}
    <!-- Logout -->
    <div class="sidebar-footer">

        <a href="{% url 'logout' %}" class="nav-item logout">
            <i class="bi bi-box-arrow-right"></i>
            <span>Logout</span>
        </a>

    </div>

</aside>
